@define-color bg #282828;
@define-color fg #ffffff;

* {
    font-family: JetBrainsMono Nerd Font, sans-serif;
    font-size: 14px;
}

window {
    margin:             5px;
    border:             2px solid @bg;
    background-color:   @bg;
    border-radius:      10px;
}

#input {
    margin:             5px;
    border:             2px solid @bg;
    border-radius:      10px;
    background-color:   @bg;
    color:              @fg;
}

#outer-box {
    margin:             5px;
    border:             2px solid @bg;
    border-radius:      10px;
    background-color:   @bg;
}

#scroll {
    margin:             5px;
    border:             2px solid @bg;
    border-radius:      10px;
    background-color:   @bg;
}

#text {
    margin: 5px;
    background-color: @bg;
    color:            @fg;
} 


#entry:selected {
    background-color:   @fg;
    border-radius:      10px;
}
#text:selected {
    background-color:   @fg;
    color:              @bg
}

